{{ partial "header.html" . }}
<body>
  {{ partial "topbar.html" . }}
<div class = "container">
<div class="intro">
<figure> <img src="/images/logo.png" alt="Logo" height="150" width="150" data-action="zoom" align="margin-left" /> </figure>
<p>Hi! I'm <a href="/about">Anjjan Narayan</a> 
  and welcome to my little, minimal corner on the Internet. 
  I am currently a Software Engineer and I spend my time building awesome things to help people connect with their car.</p>
</div>

 <div class="row">
        <div class="eleven columns recent">
          <h3>Blog Posts</h3>

          <table class="u-full-width">
            {{ range first 3 .Data.Pages.ByDate.Reverse }}
            <tbody>
              <td> 
                <p> {{ .Date.Format "January 2, 2006" }} </p>
              </td>
              <td> <p><a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a></p></td>
              <!-- <td>  <p> {{.ReadingTime}} minute read </p></td> -->
            </tbody>
            {{ end }}
          </table>
            <a class="button" href="/articles">All Posts</a>  
        </div>
</div>

</div>
{{ partial "footer.html" . }}
</body>