<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {{ content }}
          <br>
          <br>
        {% include share.html %}
        {% include signoff.html %}
        {% include disqus.html %}
        {% include links.html %}
        </section>
      </div>
    </div>
    {% include footer.html %}
     <script id="dsq-count-scr" src="//ajnarayan-github-io.disqus.com/count.js" async></script>
  </body>
</html>
