<section class="section">
  <div class="container">
    <!-- Twitter -->
    <div class = "share-buttons">
    <p> Share it on - </p>
<ul>
<li><a href="//twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Social.twitter }}" target="_blank" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
    <p>Twitter</p>
</a></li>

<!-- Google Plus -->
<li><a href="//plus.google.com/share?url={{ .Permalink }}" target="_blank" class="share-btn google-plus">
    <i class="fa fa-google-plus"></i>
    <p>Google+</p>
</a></li>

<!-- Facebook -->
<li><a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="share-btn facebook">
    <i class="fa fa-facebook"></i>
    <p>Facebook</p>
</a></li>

<!-- Reddit (url, title) -->
<li><a href="//reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" class="share-btn reddit">
    <i class="fa fa-reddit-alien"></i>
    <p>Reddit</p>
</a>
</li>
</ul>
</div>
</div>

  </div>
</section>