<section class="section">
  <div class="container has-text-centered">
    <div class="nav-center">
        <nav class="nav-item level is-mobile">
          <!-- {{ range .Site.Params.social }} -->
          <!-- <a class="level-item" href="{{ .url }}">
            <span class="icon">
              <i class="fa {{ .fa_icon }}"></i>
            </span>
          </a>
 -->         <!--  {{ end }} -->

        <a class="level-item" href="https://github.com/ajnarayan">
                <span class="icon">
                <i class=" fa fa-github"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/in/narayananjjan/">
              <span class="icon">
              <i class=" fa fa-linkedin"></i>
              </span>
            </a>
            <a href="https://twitter.com/brewinstallogic">
              <span class="icon">
              <i class=" fa fa-twitter"></i>
              </span>
            </a>
        </nav>
      </div>
    <p>{{ .Site.Copyright | safeHTML }}</p>
  <p><a href="/about">Designed</a> by Anjjan Narayan</p>
  </div>
</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
{{ range .Site.Params.highlight.languages }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script>
{{ end }}
<script>hljs.initHighlightingOnLoad();</script>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
