<div class="post-header">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h4><a href="/">ANJJAN NARAYAN</a></h4>
      </div>
      <div class="six columns">
        <nav>
          <ul class="nav-list">
            <li><a href="/about" title="About Me"><i class="icon-user"></i></a></li>
            <li><a href="/articles" title="Articles"><i class="icon-article-alt"></i></a></li>
            <li><a href="/projects" title="Projects"><i class="icon-github-circled"></i></a></li>
            <li><a href="/bookmark" title="Bookmark"><i class="icon-bookmark"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>